body{
	width: 40%;
	margin: auto;
}

.wrapper{
	background-color: #E8E8E8;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 30px;
}

.legend, .additional{
	margin-top: 20px;
}

.legend span, .additional span{
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50% 50% 50% 0;
	background-color: #00bbbb;
	text-align: center;
	color: white;
	font-size: 30px;
}

.legend div, .additional div{
	margin-left: 10%;
	font-size: 30px;
}
.error{
	display: none;
	margin-top: 20px;
	color: red;
}

.fullName, .email, .textarea{
	margin-top: 30px;
	margin-bottom: 30px;
	display: block;
	width: 100%;
	background-color: lightgrey;
	height: 30px;
	font-size: 20px;
	border-radius: 5px;
}

.textarea{
	height: 60px;
}

label{
	display: block;
	font-size: 30px;
}

select{
	display: block;
	width: 100%;
	min-height: 60px;
}

.apply{
	display: block;
	width: 100%;
	margin-top: 30px;
	background-color: #00bbbb;
	color: white;
	min-height: 60px;
	font-size: 20px;
}

